{% extends 'Login/header.html' %}
{% block link %}{% url 'home' %} {% endblock %}
{% block verified %}
    <script>
        var con
        var availableTags =
            [
                {% for list in category_list %}
                    " {{ list }}",
                {% endfor %}
            ]

        function showLoading() {
            $(".smallLoader").attr('style', 'display:block');
        }
        function hideSmallLoader() {
            $(".smallLoader").attr('style', 'display:none');
        }

        function hideLoading() {
            $("#tableDiv").attr('style', 'display:block');
            $("#preload").attr('style', 'display:none');
        }

        function colorcode(num, index) {
            if (num < 50) {
                $("#" + index).attr("style", "background-color: #d32f2f");
            } else {
                $("#" + index).attr("style", "background-color: #388E3C");
            }
        }
        $(document).ready(function () {
            table = $('#outerTable').DataTable({
                order: [[0, "asc"]],
                "lengthMenu": [[10, 15, 50, 100], [10, 15, 50, 100]],
            });
            hideLoading()
            // Handle form submission event

            $('#submit').on('click', function () {
                showLoading();
                alert("Your file is downloading. PLEASE WAIT");
                var data = {}
                data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
                table.$("select").each(function () {
                    data[$(this).attr('id')] = $(this).val();
                    if ($(this).val() == "Other") {
                        table.$("input").each(function () {
                            data[$(this).attr('id')] = $(this).val();
                        });
                    }
                });
                $.post("checkOutput/", data, function (response, status, xhr) {
                    // check for a filename
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }

                    var type = xhr.getResponseHeader('Content-Type');
                    var blob = new Blob([response], {type: type});

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            // use HTML5 a[download] attribute to specify filename
                            var a = document.createElement("a");
                            // safari doesn't support this yet
                            if (typeof a.download === 'undefined') {
                                window.location = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();
                            }
                        } else {
                            window.location = downloadUrl;
                        }

                        setTimeout(function () {
                            URL.revokeObjectURL(downloadUrl);
                        }, 100); // cleanup
                    }
                    hideSmallLoader();
                });

            });
        });
    </script>
    <div id="preload" align="center">
        <h1>Predicting your results</h1>
        <div class="loader"></div>
        <h2>Please Wait...</h2>
    </div>
    <div align="center" id="tableDiv" style="display: none">
        <div align="center" style=" width : 98%">
            {% csrf_token %}
            <br/>
            <table id="outerTable" class="table table-striped table-bordered" style="background: white;">
                <thead>
                <th>Highest Confidence</th>
                <th>Predicted Categories</th>
                <th>Problem Description</th>
                </thead>
                <tbody>
                {% for dict in content %}
                    <tr>
                        <td style="width: 15%">
                            {{ dict.category.0.1 }}%
                        </td>
                        <td id="td{{ dict.index }}" style="width: 25%">
                            <select id="select_category{{ dict.index }}" name="select{{ dict.index }}"
                                    style="width: auto">
                                {% for each in dict.category %}
                                    <option value="{{ each.0 }}">{{ each.0 }} ({{ each.1 }}%)</option>
                                {% endfor %}
                                <option value="Other">Others</option>
                            </select>


                            <script>
                                $('#select_category{{ dict.index }}').change(function () {
                                    if ($(this).val() == "Other") {
                                        if (!($("#other_category{{ dict.index }}").length)) {
                                            $('#td{{ dict.index }}').append("<input type='text' style='display: block; width : auto' placeholder='Type Category' id='other_category{{ dict.index }}' name='other{{ dict.index }}'/>")
                                            $("#other_category{{ dict.index }}").autocomplete({
                                                source: availableTags
                                            });
                                        }
                                    } else if ($("#other_category{{ dict.index }}").length) {
                                        $("#other_category{{ dict.index }}").remove()
                                    }

                                });
                                colorcode({{ dict.category.0.1 }}, "td{{ dict.index }}");


                            </script>

                        </td>
                        <td style="width: 60%">{{ dict.problem_description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <style>
                .smallLoader {
                    border: 2px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 2px solid #3498db;
                    width: 20px;
                    height: 20px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                }
            </style>
        <table>
            <td style="padding: 5px"><button type="submit" id="submit">Submit and Download</button></td>
            <td><div style="display: none" class="smallLoader"></div></td>
        </table>
            <br/><br/>

        </div>
    </div>


{% endblock %}

