<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css' rel='stylesheet'
          type='text/css'>

    <!--Loads the path to your static files-->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #container {
            min-height: 100%;
            position: relative;
        }

        #body {
            padding: 10px;
            padding-bottom: 60px; /* Height of the footer */
        }

        #footer {
            position: absolute;
            bottom: 0;
            height: 60px; /* Height of the footer */
            width:100%;
        }

        /*--copyright--*/

        .copy-wthree {
            margin: 4em 0em;
            text-align: center;
        }

        .copy-wthree p {
            color: black;
            font-size: 14.5px;
            letter-spacing: 1.5px;
            line-height: 1.8;
            margin: 0 3vw;
            font-weight: 600;

        }

        .copy-wthree p a {
            color: black;
            transition: 0.5s all ease;
            -webkit-transition: 0.5s all ease;
            -moz-transition: 0.5s all ease;
            -o-transition: 0.5s all ease;
            -ms-transition: 0.5s all ease;
        }

        .copy-wthree p a:hover {
            color: #4a90e2;
        }

        /*--//copyright--*/
    </style>

</head>
<body>
<div id="container">
    <div id="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!--Logo-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% block link %}{% endblock %}">Venter</a>
                </div>

                {% block logout %}{% endblock %}
                <!--Item-->

            </div>

            {% block tabs %}{% endblock %}
        </nav>
    </div>
    <div id="body">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <div class="copy-wthree">
            <p>© 2018 Venter . All Rights Reserved | Design by
                <a href="http://www.iitb.ac.in/" target="_blank">IIT Bombay, Powai</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>