{% extends 'Login/header.html' %}
{% block title %}Home{% endblock %}
{% block link %}{% url 'home' %} {% endblock %}
{% block verified %}
<div id="EditProfile">
        Username : {{ UserName }} <br>
        FirstName: {{ FirstName }} <br>
        LastName: {{   LastName }} <br>
        Group: {{ Group }} <br>
        Email: {{  Email }}
        <form action="" method="post">

{#            <div class="container_form">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <input type="submit" value="Submit" onclick="showLoading()">#}
{#            </div>#}
            <div class="container_form">
                {% csrf_token %}
                First Name : <input type="text" name="FirstName" /> <br>
                Last Name : <input type="text" name="LastName" /> <br>
                Email : <input type="email" name="Email" /> <br>
                <input type="submit" value="Update">
            </div>
        </form>

</div>

{% endblock %}